*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.top{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
}
.header{
  margin-top: 20px;
  display: flex;
}
.header .logo{
  margin-right: 10px;
}
.header .logo img{
  height: 25px;
  margin-left: 20px;
}
.header h1{
  font-size: 22px;
}
ul{
  list-style-type: none;
}
.menu{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid grey;
  margin-top:
}
.menu ul{
  display: flex;
}
.menu ul:first-child{
  margin-left: 20px;
}
.menu ul li{
  margin-right: 20px;
}
.menu ul:first-child li:last-child{
  color: #3367D6;
  font-weight: bold;
  border-bottom: 3px solid #3367D6;
  padding-bottom: 10px;
}
.main{
  margin-top: 110px;
  width: 100%;
}
.content{
  width: 70%;
  margin: 0 auto;
  padding-top: 80px;
}
.content p {
  margin-top: 30px;
}
